.banner {
  position: relative;
  
  img {
    display: block;
    height: 200px;
    width: auto;
    min-width: 100%;
    max-width: none;
  }
  
  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(242, 239, 237, 0.2);
  }
}
