.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  color: @bezh;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.05em;
  background-color: @blue;
  border-radius: 2px;
  .transition();
  
  &:hover,
  &:active {
    background-color: @red;
    .transition();
  }
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 140px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: @blue;
  letter-spacing: 0.05em;
  border-radius: 2px;
  border: 1px solid @blue;
  cursor: pointer;
  background-color: rgba(255,255,255,0);
  .transition();
  
  &:hover,
  &:active {
    color: @bezh;
    background-color: @blue;
    .transition();
  }
}
